[include shell_command.cfg]


# !Ender-3 V3 SE
# printer_size: 220x220x250
# mcu: chip: GD32F303RET6
#      version: CR4NS200323C10

# This file contains pin mappings for the stock 2022 Creality Ender 3
# V3 SE. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Don`t forget "make"

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.
# See docs/Config_Reference.md for a description of parameters.


###################################################################################################
############ MAKE SURE THESE PATHS/FILES ARE VALID/EXIST IN THEESE LOCATIONS ######################
############ THEY ARE NEEDED FOR COMPILING FIRMWARE OR FOR INCLUDED CFG FILES #####################
###################################################################################################

####### FILES
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/variables.cfg

#######################################################################
############ THESE ARE BLANK MACROS FOR PLUGINSS ######################
############ OR VARIOUS FUNCTIONALITIES ON LCDS  ######################
#######################################################################
[respond]
[display_status]
[pause_resume]
[exclude_object]
[force_move]
enable_force_move: True


[gcode_arcs]
resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.



##########################################
################ INCLUDES ################
##########################################
    
[include ./other-configs/*.cfg]
[include KAMP_Settings.cfg]

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -23
position_min: -23
position_max: 230
homing_speed: 40
homing_retract_dist: 10 #10

[tmc2208 stepper_x]
uart_pin: PB12
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -14.5
position_min: -14.5
position_max: 230
homing_speed: 40
homing_retract_dist: 10

[tmc2208 stepper_y]
uart_pin: PB13
run_current: 0.60
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 245


[tmc2208 stepper_z]
uart_pin: PB14
run_current: 0.8
sense_resistor: 0.150
stealthchop_threshold: 0
interpolate: false

[extruder]
max_extrude_only_distance: 100.0
max_extrude_cross_section: 6
pressure_advance: 0.04
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.5516
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 27.142
#pid_Ki: 1.371
#pid_Kd: 134.351
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PB2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 70 degree Celsius target
#pid_kp: 66.371
#pid_ki: 0.846
#pid_kd: 1301.702
min_temp: 0
max_temp: 100

[heater_fan hotend_fan]
pin: PC1
max_power: 1.0
shutdown_speed : 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0
heater:extruder
heater_temp : 50
fan_speed : 1.0

[fan]
pin: PA0

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 2500
max_z_velocity: 5
square_corner_velocity: 5.0
max_z_accel: 100

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -23.0
y_offset: -14.5
#z_offset: 2.65
speed: 20
pin_move_time: 0.4
stow_on_each_sample: False
probe_with_touch_mode: True

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 5, 5         # Need to handle head distance with cr-touch (bl_touch)
mesh_max: 205,215.5     # Max probe range
probe_count: 10, 10
mesh_pps: 3, 3
algorithm: bicubic

[output_pin beeper]
pin: PB0

[input_shaper]
shaper_type_y = mzv
shaper_freq_y = 35.0

[screws_tilt_adjust]
screw1: 54.5, 45.5
screw1_name: front left screw
screw2: 224.5, 45.5
screw2_name: front right screw
screw3: 224.5, 215.5
screw3_name: rear right screw
screw4: 54.5, 215.5
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M4


[pause_resume]
recover_velocity: 25

[display_status]

[respond]

[temperature_sensor E3V3SE]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor raspberry_pi_4B]
sensor_type: temperature_host
min_temp: 10
max_temp: 100 

[delayed_gcode DELAYED_PRINTER_OFF]
initial_duration = 0.
gcode =
  {% if printer.idle_timeout.state == "Idle" %}
    {% if printer["extruder"].temperature > 50 %}
      UPDATE_DELAYED_GCODE ID=DELAYED_PRINTER_OFF DURATION=60
    {% else %}
#      WLED_OFF STRIP=roof
      POWER_OFF_PRINTER
    {% endif %}
  {% else %}
    M118 Printer not idle, cancelled PRINTER_OFF.
  {% endif %}

[idle_timeout]
gcode:
  M84
  TURN_OFF_HEATERS
  UPDATE_DELAYED_GCODE ID=DELAYED_PRINTER_OFF DURATION=60

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.859
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.862500, -0.637500, -0.385000, -0.190000, 0.070000, 0.357500, 0.560000, 0.797500, 1.080000, 1.175000
#*# 	-1.067500, -0.840000, -0.612500, -0.327500, -0.152500, 0.155000, 0.455000, 0.772500, 0.930000, 1.095000
#*# 	-1.102500, -0.930000, -0.637500, -0.330000, -0.150000, 0.070000, 0.347500, 0.580000, 0.825000, 1.060000
#*# 	-1.177500, -0.992500, -0.695000, -0.445000, -0.270000, 0.005000, 0.267500, 0.457500, 0.722500, 1.002500
#*# 	-1.230000, -1.010000, -0.687500, -0.495000, -0.335000, -0.050000, 0.190000, 0.377500, 0.660000, 0.920000
#*# 	-1.245000, -1.067500, -0.750000, -0.555000, -0.375000, -0.087500, 0.155000, 0.350000, 0.602500, 0.875000
#*# 	-1.165000, -1.097500, -0.832500, -0.602500, -0.427500, -0.162500, 0.115000, 0.287500, 0.575000, 0.855000
#*# 	-1.157500, -1.142500, -0.885000, -0.642500, -0.462500, -0.182500, 0.070000, 0.252500, 0.535000, 0.782500
#*# 	-1.190000, -1.195000, -0.907500, -0.687500, -0.517500, -0.237500, 0.012500, 0.197500, 0.462500, 0.735000
#*# 	-1.422500, -1.215000, -0.925000, -0.740000, -0.560000, -0.275000, -0.032500, 0.152500, 0.425000, 0.702500
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 204.97
#*# min_y = 5.0
#*# max_y = 215.42
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.790
#*# pid_ki = 1.974
#*# pid_kd = 120.080
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 61.820
#*# pid_ki = 0.521
#*# pid_kd = 1833.721
#*#
#*# [bed_mesh KAMP]
#*# version = 1
#*# points =
#*# 	1.455000, 1.200000, 0.960000, 0.635000, 0.367500, 0.132500, -0.165000, -0.452500, -0.702500, -0.815000
#*# 	1.587500, 1.282500, 1.057500, 0.785000, 0.487500, 0.252500, -0.015000, -0.340000, -0.587500, -0.880000
#*# 	1.527500, 1.250000, 1.030000, 0.822500, 0.492500, 0.207500, -0.075000, -0.400000, -0.655000, -0.950000
#*# 	1.510000, 1.222500, 0.997500, 0.745000, 0.417500, 0.150000, -0.120000, -0.447500, -0.720000, -1.022500
#*# 	1.495000, 1.225000, 1.007500, 0.677500, 0.335000, 0.090000, -0.180000, -0.530000, -0.777500, -1.095000
#*# 	1.482500, 1.200000, 0.995000, 0.630000, 0.305000, 0.037500, -0.225000, -0.572500, -0.847500, -1.170000
#*# 	1.467500, 1.172500, 0.915000, 0.605000, 0.275000, 0.025000, -0.280000, -0.617500, -0.910000, -1.225000
#*# 	1.462500, 1.150000, 0.895000, 0.582500, 0.247500, -0.012500, -0.305000, -0.642500, -0.947500, -1.252500
#*# 	1.447500, 1.140000, 0.875000, 0.565000, 0.202500, -0.050000, -0.345000, -0.705000, -0.987500, -1.327500
#*# 	1.440000, 1.142500, 0.875000, 0.515000, 0.187500, -0.065000, -0.375000, -0.737500, -1.045000, -1.350000
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.890000000000001
#*# max_x = 204.97
#*# min_y = 5.0
#*# max_y = 200.84
